*.lis
*.out
*.bkg
*.json
*.pyc
cryspy.pyproj
cryspy.sln
rhochi.egg-info
build/*
dist/*
cryspy.egg-info/*
_site/*
.idea/*
.pytest_cache/*
.pylint.d/*
.vscode/*
.jekyll-cache/*
.spyproject/*
.vs/*
TestResults/*
.ipynb_checkpoints